/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Web Fonts - Noto+Sans+KR*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');
/* Web Fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ======= Reset.css ======= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
button,
input {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* ======= Default.css ======= */
html {
  scroll-behavior: smooth;
}
body:not(.eng) {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  margin: 0;
  background-color: #e5ebeb;
    color: #333;
}
body.active {
  overflow: hidden;
}

/* Common Css */
.common-title {
  padding: 40px;
  text-align: center;
  letter-spacing: -2px;
}
.common-title h1 {
  font-size: 38px;
  font-family: 'MICEGothic Bold';
  font-weight: 700;
  color: #444;
  letter-spacing: 3px;
}
.common-line {
  border-bottom: 5px solid #868384;
  width: 7%;
  padding: 7px;
  text-align: center;
  display: inline-block;
}
.common-desc {
  color: #555;
  margin: 15px;
  font-size: 16px;
}

/* ======= Style.css ======= */
.container {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.197);
}
header {
  width: 100%;
  height: 150px;
}
.header-inner {
  width: 1200px;
  margin: auto;
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.logo img {
  width: 200px;
}
.gnb {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: #e5ebeb;
  padding: 10px;
}
.gnb a {
  margin-right: 20px;
  font-weight: bold;
  color: #444;
  transition: .1s;
}
.gnb a:hover {
  color: #f86874;
}

/* ====== Section: welcome ======  */
.welcome {
  height: 534px;
}
.welcome-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-img img {
  width: 100%;
  height: inherit;
}
.welcome-img {
  position: relative;
}
.welcome-title {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.welcome-title span {
  font-size: 24px;
}
.welcome-title h1 {
  font-size: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  padding: 40px 0;
}
.welcome-title h4 {
  color: #f86874;
}
.welcome-title p {
  font-size: 18px;
}
.welcome-title em {
  color: #f86874;
}
.welcome-title button {
  border: none;
  padding: 20px;
  margin-top: 40px;
  background-color: #e5ebeb;
  border-radius: 8px;
  transition: .3s;
  margin-right: 20px;
  font-weight: bold;
  color: #555;
}
.welcome-title button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.welcome-title button:first-child {
  background-color: #ECECEC;
}
.welcome-title button:last-child {
  background-color: rgba(242, 207, 207, 0.77);
}

/* ====== Section: best ======  */
.best {
  text-align: center;
  background-color: rgba(242, 207, 207, 0.77);
  height: 450px;
  margin-bottom: 50px;
}
.best-inner {
  width: 1200px;
  margin: auto;
}
.best-slide {
  margin: 0 100px;
}
.best-slide img {
  width: 150px;
  margin-right: 20px;
  height: 150px;
  cursor: pointer;
  transition: .35s;
}
.best-slide img:hover {
  transform: scale(1.3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.761);
}
.best-slide .slick-prev:before,
.best-slide .slick-next:before {
  color: #53513D;
  font-family: xeicon;
  opacity: 1;
  font-size: 25px;
}
.best-slide .slick-prev:before {
  content: '\e93c';
  margin-left: -35px;
}
.best-slide .slick-next:before {
  content: '\e93f';
}

/* ====== Section: talk ======  */
.talk {
  height: 700px;
  margin-bottom: 50px;
}
.talk-inner {
  padding: 20px;
}
.talk-bottom {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.talk-s-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.talk-list span {
  font-weight: bold;
  color: #f86874;
}
.talk-list p {
  line-height: 25px;
}
.talk-list p:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
.talk-right {
  width: 60%;
}
.talk-contents {
  display: flex;
}
.talk-con {
  border: 1px solid #ccc;
  margin-right: 20px;
  text-align: center;
}
.talk-con:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.197);
  transform: translateY(-5px);
  text-decoration-line: underline;
}
.talk-con-inner {
  padding: 20px;
}
.talk-con-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.talk-con-top img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
}
.talk-con-top span {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0 20px 0;
}
.talk-con-bottom p {
  margin-bottom: 10px;
}
.talk-con-bottom span:first-child {
  color: #f86874;
  font-weight: bold;
}
.talk-con-bottom span:last-child {
  color: rgb(7, 7, 125);
  font-weight: bold;
}

/* ====== Section: plaform ======  */
.platform {
  height: 600px;
  background-color: #ECECEC;
  margin-bottom: 50px;
}
.platform-inner {
  padding: 15px;
}
.platform-bottom {
  text-align: center;
}
.platform-btns {
  padding-bottom: 30px;
}
.platform-btns span {
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
}
.platform-btns span.active {
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgb(242, 207, 207);
  color: #fff;
  border-radius: 8px;
}
.platform-slide {
  display: none;
}
.platform-slide.active {
  display: block;
}
.platform-slide img {
  width: 150px;
  height: 220px;
  margin-right: 20px;
  cursor: pointer;
  transition: .3s;
}
.platform-slide img:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* ====== Section: review ======  */
.review {
  height: 700px;
  margin-bottom: 50px;
}
.review-inner {
  margin: 50px;
}
.review-left {
  float: left;
  width: 35%;
}
.review-content {
  position: relative;
  width: 100%;
  width: 350px;
  height: 400px;
  cursor: pointer;
}
.review-b-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #22222278;
  transition: .5s;
}
.review-b-img {
  width: 350px;
  height: 400px;
}
.review-b-img:hover:before {
  margin-right: 30px;
  background-color: #222222b2;
}
.review-b-img img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.review-b-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  width: 75%;
}
.review-b-title h1 {
  font-size: 26px;
  margin-bottom: 10px;
}
.review-contents {
  justify-content: center;
}
.review-contents > div {
  display: inline-block;
}
.review-right {
  margin-left: 10px;
}
.review-s-img {
  position: relative;
  overflow: hidden;
}
.review-s-img img {
  width: 200px;
  transition: .55s;
}
.review-s-img img:hover {
  transform: scale(1.1);
}
.badge {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2px 10px;
}
.badge.red {
  background-color: #f86874;
}
.badge.blue {
  background-color: rgb(7, 7, 125);
}
.review-con {
  cursor: pointer;
  margin-right: 20px;
}
.review-con:nth-child(3) {
  margin-right: none;
}
.review-s-title {
  width: 180px;
  height: 180px;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
}
.review-s-title h2 {
  font-weight: 600;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.review-s-title p {
  line-height: 1.5em;
}

/* ====== Section: gather ======  */
.gather {
  height: 750px;
  background-color: #ECECEC;
}
.gather-contents {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.gather-con {
  transition: 1s;
}
.gather-con:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow:0 5px 20px rgba(0, 0, 0, 0.8);
  background-color: #fff;
}
.gather-img {
  width: 300px;
  height: 300px;
}
.gather-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
}
.gather-title {
  font-size: 22px;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
}
.gather-desc {
  padding: 10px;
}
.gather-hash {
  color: rgb(7, 7, 125);
}

/* ====== Section: community ======  */
.community {
  height: 650px;
  margin-bottom: 50px;
}
.community-inner {
  margin: 100px;
}
.community-left {
  float: left;
  width: 60%;
  height: 600px;
  margin-top: 100px;
}
.community-title {
  font-size: 34px;
  line-height: 1.5em;
}
.community-title span {
  color: #f86874;
}
.community-desc {
  font-size: 18px;
  width: 600px;
  line-height: 1.7em;
  color: #333333;
  margin: 20px 0;
}
.community-btn {
  cursor: pointer;
}
.community-right img {
  width: 300px;
  cursor: pointer;
}

/* ====== Section: event ======  */
.event {
  height: 300px;
  background-color: #F5DADA;
  margin-bottom: 50px;
}
.event-inner {
  padding: 30px 50px;
}
.event-left {
  float: left;
  margin-right: 100px;
}
.event-tabs {
  display: flex;
  margin-top: 20px;
}
.event-tab {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  cursor: pointer;
}
.event-tab.active {
  font-weight: bold;
  color: rgb(2, 2, 38);
}
.event-tab img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.event-desc {
  display: none;
  visibility: hidden;
}
.event-desc.active {
  display: block;
  visibility: visible;
}
.event-desc h2 {
  margin: 50px 0 30px 0;
  font-size: 32px;
}
.event-desc p {
  font-size: 18px;
  color: #555;
}

/* ====== Section: service ======  */
.service {
  height: 800px;
  margin-bottom: 50px;
}
.service-inner {
  padding: 50px 100px 0 100px;
}
.service-inner > div {
  float: left;
  width: 50%;
}
.service-box {
  border: 1px solid #F5DADA;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}
.service-title {
  color: #f86874;
  font-size: 18px;
}
.service-box.active {
  border: 2px solid #F5DADA;
  display: block;
  visibility: visible;
}
.service-desc {
  margin-top: 15px;
  display: none;
}
.service-right {
  padding-left: 50px;
}
.service-img {
  width: 450px;
  height: 300px;
}
.service-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
.service-right h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 32px;
  letter-spacing: -2px;
  color: #f86874;
}
.service-right p {
  font-size: 16px;
  color: #444;
}
.service-btn {
  text-align: center;
  margin-top: 40px;
}
.service-btn button {
  font-size: 18px;
  color: #f86874;
  padding: 12px 30px;
  border: 1px solid #f86874;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
  background-color: #fff;
}
.service-btn button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #f86874;
}

/* ====== Section: advertise ======  */
.advertise {
  height: 350px;
  background-color: #ececec;
}
.advertise-inner {
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertise-left {
  width: 50%;
}
.advertise-con h2 {
  font-size: 34px;
}
.advertise-con h4 {
  color: #566286;
  font-weight: bold;
}
.advertise-btn {
  padding: 8px 20px;
  background-color: #566286;
  border: 1px solid #566286;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  transition: .4s;
}
.advertise-btn:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #566286;
  color: #566286;
  font-weight: bold;
}
.advertise-right img {
  width: 400px;
}

/* ====== Section: footer ======  */
footer {
  height: 250px;
  background-color: rgba(242, 207, 207, 0.77);
  padding: 50px;
}
.footer-inner {
  display: flex;
}
.footer-logo img {
  width: 200px;
  margin-right: 40px;
}
.footer-desc h4 {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  color: #777;
}
.footer-desc p {
  padding-top: 20px;
}

/* ====== Section: goto ======  */
.goto {
  background-color: #f86874;
  padding: 15px 20px;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: -70px;
  right: 370px;
}
.goto.active {
  bottom: 20px;
}